# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
*.env
tmp_venv/
.venv/

# Distribution / packaging
build/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.spec

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# PyCharm
.idea/

# Scripts
run_server.bat

# Misc
*.log
*.pot
*.mo
*.swp
*.swo

# Logs
logs